format = """
$directory\
$git_branch\
$git_status\
$git_state\
$line_break\
$character\
"""

right_format = """
$time\
"""

add_newline = true

[character]
success_symbol = "[Woof!](bold italic fg:#a6e3a1)"
error_symbol   = "[Grr!](bold italic fg:#f38ba8)"

[username]
format = "[$user]($style)@"
style = "fg:#bac2de"
show_always = true

[hostname]
format = "[$hostname]($style) "
style = "fg:#7f849c"
show_always = true

[directory]
format = "[$path]($style) "
style = "fg:#89b4fa"
truncation_length = 3
truncation_symbol = "…/"

[git_branch]
format = "[$branch]($style) "
style = "fg:#cba6f7"

[git_status]
format = "([\\[$conflicted$untracked$modified$staged$renamed$deleted\\]]($style) )[$ahead_behind]($style)[$stashed]($style) "
style = "fg:#fab387"

conflicted = "="
untracked  = "?"
modified   = "!"
staged     = "+"
renamed    = ">"
deleted    = "x"
stashed    = "*"
ahead      = "⇡${count} "
behind     = "⇣${count} "
diverged   = "⇡${ahead_count}⇣${behind_count} "

[git_state]
format = '\([$state( $progress_current/$progress_total)]($style)\) '
style = "fg:#7f849c"

[cmd_duration]
format = "[$duration]($style) "
style = "fg:#7f849c"
min_time = 500

[time]
format = "[$time]($style)"
style = "fg:#94e2d5"
disabled = false
time_format = "%I:%M"
