# Switch to battery (AC unplugged)
ACTION=="change", SUBSYSTEM=="power_supply", ATTR{type}=="Mains", ATTR{online}=="0", RUN+="/usr/bin/su $username -c 'DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus /home/$username/scripts/custom_scripts/chargingnotify 0'"

# Switch to AC (plugged in)
ACTION=="change", SUBSYSTEM=="power_supply", ATTR{type}=="Mains", ATTR{online}=="1", RUN+="/usr/bin/su $username -c 'DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus /home/$username/scripts/custom_scripts/chargingnotify 1'"
